.main{
    margin: 0 auto;
    width: 600px;
    height: 600px;
    border: 4px solid #000;
    margin-top: 45px;
    position: relative;
    padding: 0;
}

.main div{
    position: absolute;
    margin: 0;
}

.red{
    height: 350px;
    width: 350px;
    background-color: red;
    top: 0;
}

.blue{
    height: 350px;
    width: 350px;
    background-color: blue;
    right: 0;
    bottom: 0;
}

.green{
    height: 350px;
    width: 350px;
    background-color: rgb(32, 223, 32);
    top: 125px;
    left: 125px;
}
